# Detector Configuration START

detector:
  api:
    aliyun:
      default-region-id: cn-hangzhou
      default-region-prefix: cn-
      default-login-password: xxx
      access-key-id: xxx
      access-secret: xxx

# Detector Configuration END
